* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 1px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Main Content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;

     }

.Margin {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.Margin  {
    max-height: 200px;
}

.Margin h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
background-image:url();
    background-size: cover;
    background-position: center;
display:flex

}


.card-container {
    padding:200px;
    flex-grow:1;
    flex-shrink: 0;
    flex-basis: 100%;
}

.card {
    border: 2px;
    border-radius: 20px;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.card  .card-header {
    border:2px;
    border-radius: 20px;
    flex-direction: row;
}

@media screen and (max-width: 992px) {
    .header div
    {
        background-color: #2a607c;
        
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .content {
      background-color:#2a607c;
    }
  }
  
  /* Small smartphones - */
  @media screen and (max-width: 576px) {
    .content {
        background-color:#2a607c;
    }
  }